*.db
sessions/starterkits/part_1_drs_wes/tmp/*
!sessions/starterkits/part_1_drs_wes/tmp/.file
sessions/starterkits/part_2_dataconnect_passports/tmp/*
!sessions/starterkits/part_2_dataconnect_passports/tmp/.file
presenter/ismb-prep-embassy/.env.sh
presenter/ismb-prep-embassy/downsampled/*
!presenter/ismb-prep-embassy/downsampled/.file
presenter/ismb-prep-embassy/downsampled-highcov/*
!presenter/ismb-prep-embassy/downsampled-highcov/.file
presenter/ismb-prep-embassy/ref/*
!presenter/ismb-prep-embassy/ref/.file
sessions/starterkits/part_1_drs_wes/helper_notebooks/drs_map.json
sessions/starterkits/part_2_dataconnect_passports/helper_notebooks/drs_map.json

# Ignore Mac OS DS Store files
**/.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
